2024-01-05 23:22:29 [DEBUG]: Adding one record to ToDo
2024-01-05 23:22:30 [DEBUG]: Deleting one record to ToDo
2024-01-05 23:22:36 [DEBUG]: Adding one record to ToDo
2024-01-05 23:22:37 [DEBUG]: Deleting one record to ToDo
2024-01-05 23:31:41 [DEBUG]: Adding one record to ToDo
2024-01-06 01:46:14 [DEBUG]: Deleting one record to ToDo
2024-01-06 01:46:15 [DEBUG]: Adding one record to ToDo
2024-01-06 01:46:17 [DEBUG]: Deleting one record to ToDo
